:root{
    --color_primery_brand: #4D5AE5;
    --color_dark: #2E2F42;
    --color_success: #31D0AA;
    --color_text: #434455;
    --color_subtle_text: #8E8F99;
    --color_accent: #E7E9FC;
    --color_light: #F4F4FD;
}
body{
    background-color: #FFFFFF;
    font-family: 'Roboto', 'Raleway', sans-serif;
}
a{
    color: var(--color_text);
    text-decoration: none;
}
a:hover,
a:focus{
    color: var(--color_primery_brand);
}
button{
    background-color: var(--color_accent);
    color: var(--color_primery_brand);
}
button:hover,
button:focus{
    background-color: var(--color_primery_brand);
    color: white;
}
.nonameh2{
    display: none;
}
.logo{
    font-size: 18px;
    line-height: 1.33;
}
.logo span{
    color:var(--color_primery_brand);
}
.logo_footer{
    font-size: 18px;
    line-height: 1.33;
}
.logo_footer span{
    color:var(--color_primery_brand);
}
.navigation a{
    font-size: 16px;
    line-height: 1.5;
}
h1{
    color:white;
}
.hero{
    font-size: 56px;
    line-height: 1.07;
    background-color: var(--color_dark);
}
.button{
    font-size:16px;
    line-height: 1.19;
}
h2{
    font-size: 36px;
    line-height: 1.2;
}
h3{
    font-size: 30px;
    line-height: 1.5;
}
p{
    font-size: 16px;
    line-height: 1.5;
}
footer{
    background-color:var(--color_dark);
}
li{
    list-style-type: none;
}
button{
    cursor: pointer;
}